<p>
    Mit einer langjährigen psychosozialen Berufserfahrung und einem ressourcenorientierten Ansatz begleite ich Einzelpersonen, Paare und Familien sowie Teams durch herausfordernde Phasen. Mit meinem systemischen Blick betrachte ich nicht nur das Individuum, sondern 
    auch dessen Beziehungen und das Umfeld, in dem es lebt. Mein Fokus liegt darauf, Sie in Ihren Ressourcen zu bestärken und kräftezehrende Glaubenssätze zu erkennen.
</p><p>
    Mein Ziel ist es, Sie auf Ihrem Weg zu unterstützen, Klarheit zu gewinnen, Konflikte zu 
    bewältigen und neue Perspektiven zu entwickeln.
</p>
