---
layout: default
---
<div class="flex">
    <div class="flex-col justify-between w-full">

        <div class="flex justify-center">
            <div class="my-16 mx-4 single-col-anna text-lg">
                <h2 class="text-blue-anna">Kontakt</h2>
                {% include adresse.html %}
            </div>
        </div>

        <div class="bg-yellow-anna w-full">
            <div class="flex justify-center">
                <div class="my-16 mx-4 single-col-anna text-lg">
                    {% include ihr-weg.html %}
                </div>
            </div>
        </div>
        
        <div class="flex justify-center">
            <div class="my-16 mx-4 single-col-anna text-lg">
                <div>
                    {% include email_form.html %}
                </div>
            </div>
        </div>

    </div>
</div>
