<div class="flex justify-center bg-yellow-anna">
    <div class="flex-col justify-between my-24 single-col-anna">

    <header class="mb-4 text-blue-anna">
        <h2>Approach</h2>
    </header>    
    
    <div class="text-blue-anna">
        <h3>
            <p>
                In my work, the person with their needs and relationships is at the center. I strongly believe that every
                individual has the capacity for change and self-healing. From a systemic perspective, I do not only
                focus on the individual but also on their relationships and the environment in which they live.
            </p><p>
                My goal is to help you on your journey to gain clarity, resolve conflicts, and develop new perspectives.
            </p>
        </h3>
    </div>

    </div>
</div>
  
