<div class="flex justify-center">
    <div class="flex-col my-16 md:mx-16 wide-col-anna gap-8">

        <div>
            <h2>My Background</h2>
        </div>
        <hr>
        <div class="flex flex-col md:flex-row justify-evenly my-8">
            <div class="md:w-1/2">
                <h3>Training</h3>
            </div>  
            <div class="md:w-1/2">
                <p>
                    Systemic Supervision: starting in Nov. 2024
                </p><p>
                    Licensed Psychotherapist (HeilprG License)
                </p><p>
                    Systemic Individual, Couple & Family Therapy (SG) at <a href="https://if-weinheim.de/" target="_blank">IF Weinheim</a>
                </p><p>
                    Systemic Couple Therapy (IFW) 
                </p><p>
                    Systemic Counseling (SG) at <a href="https://www.ist-berlin.org/" target="_blank">IST Berlin</a>
                </p><p>
                    Dialogic Parent Counseling (ESF)   
                </p>
            </div>
        </div>
        <hr>
        <div class="flex flex-col md:flex-row justify-evenly my-8">
            <div class="md:w-1/2">
                <h3>Additional Roles</h3>
            </div>
            <div class="md:w-1/2">
                <p>
                    <a href="https://bif-systemisch.de/" target="_blank"></a>BIF Berlin Institute for Family Therapy</a>: Freelance Systemic Family Therapist (SGB VIII), June
                    2023–present
                </p><p>
                    <a href="https://krisenchat.de/" target="_blank">krisenchat gGmbH</a>: Senior Member of the Psychosocial Team for Training & Development,
                    October 2022–present
                </p>
            </div>
        </div>
        <hr>
        <div class="flex flex-col md:flex-row justify-evenly my-8">
            <div class="md:w-1/2">
                <h3>Education</h3>
            </div>
            <div class="md:w-1/2">
                <p>
                    Master’s Degree: Sociology & Social Psychology, with a focus on Work and Organizational
                    Sociology, <a href="https://www.fb03.uni-frankfurt.de/92867755/Willkommen_am_Institut_f%C3%BCr_Soziologie" target="_blank">Goethe University Frankfurt</a>
                </p><p>
                    Bachelor’s Degree: Sociology, Gender Studies & Cultural Anthropology, <a href="https://www.soziologie.uni-mainz.de/" target="_blank">University of Mainz</a>
                </p>
            </div>
        </div>
        
    </div>
</div>
