<div id="coaching" class="flex justify-center bg-yellow-anna">
    <div class="flex-col py-14 justify-between wide-col-anna">

        <header class="my-12">
            <h2 class="text-blue-anna">Coaching & Supervision</h2>
        </header>    
        
        <div class="flex flex-col sm:flex-row justify-items-stretch gap-8">
            <div class="my-4 sm:w-1/2">
                <h3 class="my-4 text-blue-anna">Coaching</h3>
                <p class="text-anna">
                    My coaching services support professionals, leaders, and teams in navigating work-related challenges
                    and achieving their professional or personal goals. Through structured, resource- and solution-
                    focused methods, I support you in focusing on your individual strengths and resources as well as
                    nding solutions to complex problems.
                </p><p class="text-anna">
                    Promoting self-efficacy is my guiding principle here.      
                </p>
            </div>

            <div class="my-4 sm:w-1/2">
                <h3 class="my-4 text-blue-anna">Supervision</h3>
                <p class="text-anna">
                    Supervision provides teams with the opportunity to reflect on professional experiences and work-
                    related challenges. In a safe environment, I support you in developing strategies for conflict resolution
                    and reflecting on team collaboration, or addressing stress factors that impact your work environment.
                </p><p class="text-anna">
                    This service is especially aimed at professionals in social, educational, and therapeutic fields, as well
                    as teams within organizations seeking to strengthen their approach to team dynamics. 
                </p>
            </div>
        </div>

    </div>
</div>
