<div class="text-blue-anna">
    <h2>How to contact me</h2>
</div>
        
                    
<div class="text-anna">
    <p>
        As a licensed non-medical practitioner for Psychotherapy, my services are usually privately funded.
        However, under certain circumstances, some private health insurance companies or supplementary
        insurance policies cover the costs of therapy. 
    
    </p><p>
        Professional associations or accident insurance
        companies cover the costs of therapy to overcome the consequences of accidents at work or on the
        way to work.

    </p><p>
        Due to my training as a licensed non-medical practitioner for Psychotherapy and as a systemic
        therapist (SG), individual health insurance companies also cover the costs of therapy through the
        reimbursement procedure. Please inquire with your insurance company in advance about the
        possibilities of reimbursement.
    </p><p>
        For clarification of your concerns, I offer an initial telephone consultation.
    </p><p>
        Here you can book your appointment online.
        <br><br>
        <a id="zl-url" class="zl-url" href="https://www.jameda.de/anna-wilde/heilpraktiker-fuer-psychotherapie/berlin" rel="nofollow" data-zlw-doctor="anna-wilde" data-zlw-type="big" data-zlw-opinion="false" data-zlw-hide-branding="true" data-zlw-saas-only="true">Anna Wilde - jameda.de</a><script>!function($_x,_s,id){var js,fjs=$_x.getElementsByTagName(_s)[0];if(!$_x.getElementById(id)){js = $_x.createElement(_s);js.id = id;js.src = "//platform.docplanner.com/js/widget.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","zl-widget-s");</script>
    </p>
</div>
