<div class="flex justify-center bg-white">
    <div class="flex flex-col md:flex-row justify-evenly">
        <div class="px-4 py-16 md:w-1/2">
            <div class="text-md-anna text-blue-anna lg:mx-8">
                <p>
                    Welcome!
                </p><p>
                I am a licensed non-medical practitioner for Psychotherapy, specialized in systemic therapy, couples
                therapy and family therapy (SG) as well as coaching and supervision. 
                </p><p>
                With many years of experience in the psychosocial eld and a deep fascination for interpersonal
                relationships, I support individuals, couples, families, and teams through challenging phases.
                </p>
            </div>
        </div>
        <div class="md:shrink-0 md:w-1/2">
            <picture>
                <source 
                    media="(min-width: 768px)"
                    srcset="/assets/img/portrait.webp">
                <source 
                    media="(max-width: 768px)"
                    srcset="/assets/img/portrait_crop.webp">
                <img src="/assets/img/portrait.webp" class="object-cover w-full md:h-full">
            </picture>

        </div>            
    </div>
</div>
  
