<a name="therapy"></a>
<div id="therapy" class="flex justify-center">
    <div class="flex-col justify-between my-14 wide-col-anna">

    <header class="my-12">
        <h2 class="text-blue-anna">Therapy</h2>
    </header>    
    
    <div class="grid grid-flow-row sm:grid-cols-2 md:grid-cols-3 gap-8">
        <div class="py-4">
            <img src="/assets/img/systemische-therapie.webp">
            <h3 class="my-4 text-blue-anna">Systemic Therapy</h3>
            <span class="text-anna">
                I offer systemic therapy for individuals who are facing a crisis, dealing with personal or relationship
                conflicts, feeling overwhelmed, or wanting to grow personally. I help you to develop new perspectives
                and encourage a more supportive view of yourself.
            </span> 
        </div>
  
        <div class="py-4">
            <img src="/assets/img/paar-therapie.webp">
            <h3 class="my-4 text-blue-anna">Couples Therapy</h3>
            <span class="text-anna">
                I work with couples who want to improve their relationship or work through conflicts. In couples
                therapy, we often focus on patterns of communication and conflict in the relationship. I help you to
                recognize these patterns and develop a new understanding of each other.
            </span>
        </div>

        <div class="py-4">
            <img src="/assets/img/familientherapie.webp">
            <h3 class="my-4 text-blue-anna">Family Therapy</h3>
            <span class="text-anna">
                For families going through challenging times, I offer family therapy. With my experience in intensive
                family support and family therapy (SGB VIII), along with parent coaching based on Haim Omer's
                methods, I support families dealing with conflicts, crises, or separation.

            </span>
        </div>
    </div>

    </div>
</div>
